<h1>Edit Post</h1>

<%= form_tag(post_path, method: "patch") do %>
    <div class="post-field">
      <%= label_tag "Title: " %>
      <%= text_field_tag :title, @post.title %>
    </div>

    <div class="post-field">
      <%= label_tag "Body: " %>
      <%= text_area_tag :content, @post.content %>
    </div>

    <%= submit_tag "Update" %>
<% end %>