<h1>New Post</h1>

<%= form_tag(posts_path) do %>
    <div class="post-field">
      <%= label_tag "Title: " %>
      <%= text_field_tag :title %>
    </div>

    <div class="post-field">
      <%= label_tag "Body: " %>
      <%= text_area_tag :content %>
    </div>

    <%= submit_tag "Publish!" %>
<% end %>

<%= link_to "Neverdamnmind", :back %>
