<h2><%= @post.title %></h2>
<h3>Written on: <%= @post.written_at %></h3>

<div class="post-body">
  <%= simple_format(@post.content) %>
</div>

<%= link_to "Edit", edit_post_path %>

<%= link_to "Posts Index", posts_path %>
